pkgbase = reticulum-meshchatx-git
	pkgdesc = A simple mesh network communications app powered by the Reticulum Network Stack
	pkgver = 4.0.0.r627.g4976722
	pkgrel = 1
	url = https://git.quad4.io/RNS-Things/MeshChatX
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = git
	makedepends = nodejs
	makedepends = pnpm
	makedepends = python
	makedepends = python-poetry
	depends = opus
	depends = opusfile
	depends = portaudio
	depends = espeak-ng
	depends = nss
	depends = atk
	depends = at-spi2-core
	depends = libxcomposite
	depends = libxrandr
	depends = libxdamage
	depends = mesa
	depends = alsa-lib
	depends = libx11
	provides = reticulum-meshchatx
	conflicts = reticulum-meshchatx
	source = reticulum-meshchatx::git+https://git.quad4.io/RNS-Things/MeshChatX.git
	source = reticulum-meshchatx.desktop
	sha256sums = SKIP
	sha256sums = 366182e198df672bb51893f7cf7f339079bf80319c24c107216c1b96d33fd267

pkgname = reticulum-meshchatx-git
